/* Página de Login */
.login-page {
  background: linear-gradient(135deg, #072e61, #26104b);
  height: 100vh;
  color: white;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
}


/* Estilos para o menu lateral e a transição suave */
.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.sidebar.show {
  left: 0;
}

.sidebar h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar .nav-link {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Responsividade: quando o menu lateral for aberto, centralize os itens de navegação */
@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      left: -100%;
      padding-top: 50px; /* Espaço para o cabeçalho no modo responsivo */
      justify-content: center; /* Centraliza o conteúdo verticalmente */
      align-items: center; /* Centraliza os itens horizontalmente */
  }
  
  .sidebar.show {
      left: 0;
  }

  .sidebar .nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os links de navegação no centro */
  }

  .sidebar .nav-link {
    width: 100%; /* Faz os links ocuparem toda a largura disponível */
    text-align: center; /* Centraliza o texto dentro de cada link */
  }

  .content {
    margin-left: 0; /* Remove a margem do lado esquerdo no modo responsivo */
    width: 100%; /* Ajusta a largura para ocupar a tela inteira */
  }
}

/* Ajuste do conteúdo para quando o menu lateral estiver visível em telas grandes */
@media (min-width: 769px) {
  .content {
    margin-left: 200px; /* Deixa a margem do lado esquerdo igual à largura do menu lateral */
    transition: margin-left 0.3s ease-in-out;
  }
}

.bg-menu {
  background: linear-gradient(135deg, #072e61, #26104b);
}

.bg-side {
  background: linear-gradient(135deg, #053472, #26104b);
}

#menuToggle {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 100;
}

.content {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

.text-header {
font-size: 0.50rem;
}

.content {
  flex-grow: 1;
}

.bg-menu {
  background: linear-gradient(135deg, #072e61, #26104b);
}

.bg-side {
background: linear-gradient(135deg, #053472, #26104b);
}