/* Página de Login */
.login-page {
    background: linear-gradient(135deg, #072e61, #26104b);
    height: 100vh;
    color: white;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
}


.sidebar {
    width: 200px;
}

.sidebar h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sidebar .nav-link {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.content {
    flex-grow: 1;
}

.bg-menu {
    background: linear-gradient(135deg, #072e61, #26104b);
}

.bg-side {
  background: linear-gradient(135deg, #053472, #26104b);
}
